spring:
  application:
    name: gateway-server
  profiles:
    active: dev

  config:
    active:
      on-profile: dev
    import: optional:configserver:http://config-server:9991
server:
  port: 8080
eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka