spring:
  application:
    name: airline-service
  datasource:
    url: jdbc:postgresql://localhost:5432/airflights.airlines
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  config:
    import: optional:configserver:http://localhost:8888

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: health,info
