server:
  port: 8761

spring:
  application:
    name: eureka-server
  profiles:
    active: dev
  config:
    import: optional:configserver:http://config-server:9991
  cloud:
    config:
      request-connect-timeout: 5000
      request-read-timeout: 15000
      retry:
        max-attempts: 12
        initial-interval: 1000
        multiplier: 1.5
        max-interval: 5000
    fail-fast: false

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    enable-self-preservation: false
