server:
  port: 8761
spring:
  application:
    name:
      eureka-server

  profiles:
    active: dev

  config:
    active:
      on-profile: dev
    import: optional:configserver:http://config-server:9991

  eureka:
    client:
      register-with-eureka: false
      fetch-registry: false
    server:
      enable-self-preservation: false