server:
  port: 9991

spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: https://github.com/MarkovMaksim2/config-server
          default-label: main
          search-paths: /
          clone-on-start: true

  profiles:
    active: git

logging:
  level:
    org.springframework.cloud: DEBUG
    org.springframework.boot: INFO
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka
