server:
  port: 9991

spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: http://github.com/MarkovMaksim2/config-server.git
          default-label: main
          search-paths: .
          clone-on-start: true // ЭТО ВАЖНО
          force-pull: true
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always